<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/Leather.jpg" alt="Leather" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Leather</h3>
                <pre>
Leather, a timeless classic.
Leather, the perfect touch.
Leather, the ultimate texture.
The luxury of leather,crafted to perfection.
</pre>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/Handcraft.jpg" alt="Handcraft" width="1100" height="500">
            <div class="carousel-caption">
                <h3>HandCrafted</h3>
                <pre>
    Every piece is a masterpiece.
    Handcrafted, the ultimate expression of love.
    One-of-a-kind creations custom-made for you.
    Crafting memories for a lifetime with love and care.
</pre>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/Premium.jpeg" alt="Premium" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Premium Quality</h3>
                <pre>
Premium Quality you deserve!
Quality that is above and beyond!
Embrace the journey of superior quality!
</pre>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


<!-- <router-outlet></router-outlet> -->