<header>
    <ul>
        <li>
            <marquee><a><img src="/assets/Logo.png" alt="">The Clothing Shop</a></marquee>
        </li>
        <li><a routerLink="landing"><i class="fa-solid fa-house">Home</i></a></li>
        <li><a routerLink="contentdata"><i class="fa-solid fa-bag-shopping">Items</i></a></li>
        <li style="float:right" data-toggle="modal" data-target="#myModal"><a routerLink="login"><i
                    class='fas fa-sign-in-alt'>Sign In</i></a></li>
        <li style="float:right" data-toggle="modal" data-target="#myModal"><a routerLink="signup"><i
                    class="fa fa-user">Sign Up</i></a></li>
        <li style="float:right" data-toggle="modal" data-target="#myModal"><a routerLink="carttable"><i
                    class="fas fa-shopping-cart cart">cart</i></a></li>
    </ul>
</header>