<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">The Clothing Shop: Premium Quality Material Which Are Created With Authentic
                    Material</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="https://www.w3schools.com">W3Schools</a></li>
                    <li><a href="https://www.w3schools.com/html/default.asp">HTML</a></li>
                    <li><a href="https://www.w3schools.com/css/default.asp">CSS</a></li>
                    <li><a href="https://www.w3schools.com/js/default.asp">JAVASCRIPT</a></li>
                    <li><a href="https://www.w3schools.com/bootstrap4/default.asp">BOOTSTRAP4</a></li>
                    <li><a href="https://angular.io/">ANGULAR</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Link</h6>
                <ul class="footer-links">
                    <li><a>About Us</a></li>
                    <li><a>Contact Us</a></li>
                    <li><a>Contribute</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>