<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table id="totalproduct" class="table table-bordered">
            <thead>
                <button type="button" class="btn btn-info" (click)="getRes()">Info</button>
                <tr>
                    <th>Product Name</th>
                    <th>Product Total</th>
                </tr>
                <tr *ngFor="let data of prod">
                    <td>{{data.ProductName}}</td>
                    <td>{{data.ProductTotal}}</td>
                </tr>
            </thead>
        </table>
    </div>
    <app-newtable></app-newtable>
</body>
</html>